<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="CadastraUsuario.css">
</head>
<body>

<div class="login-page">
    <h3 class="titulo">Cadastro</h3>
    <div class="form">
        <img th:src="@{/img/Logo.png}" alt="Logo" class="login-logo">
        <form class="login-form">
            <input type="text" placeholder="Nome" id="Nome" name="Nome"/>
            <input type="text" placeholder="Sobrenome" id="Sobrenome" name="Sobrenome"/>
            <input type="text" placeholder="Email" id="Email" name="Email"/>
            <input type="text" placeholder="CPF" id="CPF" name="CPF"/>
            <input type="text" placeholder="Data de Nascimento" id="Nascimento" name="Nascimento"/>
            <input type="password" placeholder="Senha" id="senha" name="senha"/>
            <button>Cadastrar</button>
            <p class="message"><a th:href="@{/Login}">Voltar</a></p>
        </form>
    </div>
</div>


</body>
</html>
