<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{Template.html}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="Login.css">
</head>
<body>
<section layout:fragment="body">
<div class="login-page">
    <h3 class="titulo">Bem Vindo ao Financial Project</h3>
    <div class="form">
        <img th:src="@{/img/Logo.png}" alt="Logo" class="login-logo" >
        <form class="login-form" th:method="GET" th:action="@{/Login/userLogin}" th:object="${usuario}">
            <input type="text" placeholder="login" id="login" name="login" th:field="*{login}"/>
            <input type="password" placeholder="senha" id="senha" name="senha" th:field="*{senha}"/>
            <button type="submit">login</button>
        </form>
        <p class="message"><a th:href="@{/user}">Cadastre sua conta</a></p>
    </div>
</div>

</section>
</body>
</html>
