<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{Template.html}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="Login.css">
</head>
<body>
<section layout:fragment="body">
<div class="login-page">
    <h3 class="titulo">Bem Vindo ao Financial Project</h3>
    <div class="form">
        <img th:src="@{/img/Logo.png}" alt="Logo" class="login-logo">
        <form class="login-form">
            <input type="text" placeholder="username" id="username" name="username"/>
            <input type="password" placeholder="password" id="password" name="password"/>
            <button>login</button>

            <p class="message"><a th:href="@{/user}">Cadastre sua conta</a></p>
        </form>
    </div>
</div>

</section>
</body>
</html>
