<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE"></title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>

<header>
    <div class="header-container">
        <img th:src="@{/img/Logo.png}" alt="Logo" class="logo-financial">
        <div class="logo">Financial Project</div>
    </div>
        <nav>
            <a sec:authorize="isAuthenticated()" th:href="@{/}">Dashboard</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/}">Transações</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/}">Relatórios</a>
            <a th:href="@{/}">Ajuda</a>
            <a th:href="@{/}">Contato</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Sair</a>
        </nav>

</header>

<section layout:fragment="body">

</section>

<footer>
    <p>© 2025 Financial Project. Todos os direitos reservados.</p>
</footer>

</body>
</html>
